<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="PollaExpressDBEntities" connectionString="metadata=res://*/PollaExpressModel.csdl|res://*/PollaExpressModel.ssdl|res://*/PollaExpressModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PollaExpressDB;user id=sa;password=Tecnologia.4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=calidadpioneer;AccountKey=du7bmEVQIdGXDqY1sA6yFwWchz5pC0RMKUE17tx75Ssu5WftWiBdRN0OLS+0QAD/86DJngyHSaSix9DgFNKaPA==;" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=PollaExpressDB;Persist Security Info=True;User ID=sa;Password=Tecnologia.4;" providerName="System.Data.SqlClient" />-->
    <add name="PollaExpressDBEntities" connectionString="metadata=res://*/PollaExpressModel.csdl|res://*/PollaExpressModel.ssdl|res://*/PollaExpressModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:h0ehawyllb.database.windows.net,1433;initial catalog=PollaExpressDB;user id=usutest@h0ehawyllb;password=Dialectoplasma4.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=pollaexpress;AccountKey=W7M44zlL2EQD3YAtYCOt/d1uvQO960oLn45rf+4GYykvA+QaoY/snr34Ey+jAY6z0hO8EM8TjUAku1vE/tL3Lg==;" />
    <add name="DefaultConnection" connectionString="Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=PollaExpressDB;User Id=usutest@h0ehawyllb;Password=Dialectoplasma4.;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="uploadedFiles" value="uploadedfiles" />
    <add key="mngrs" value="3QD/WJH8yknuH/eGyrj7jUZvWYIF9DUjKGgbxIcmPsw="/>

    <add key="emailFromAddress" value="info@orkidea.co" />
    <add key="emailFromAilas" value="Polla Express" />
    <add key="emailServer" value="smtp.gmail.com" />
    <add key="emailPort" value="587" />
    <add key="emailEnableSSL" value="true" />
    <add key="emailUsr" value="info@orkidea.co" />
    <add key="emailPass" value="Tecnologia.4" />
    
    <add key="emailGanadorHtml" value="/EmailTemplates/emailGanador.html" />
    <add key="emailGanadorTxt" value="/EmailTemplates/emailGanador.txt" />
    
    <add key="googleClientId" value="nDQQq8fjBqKAQgoUfY7p4aK/jsuAdPUuecpau/+pHarMeZN8Og6hIVvVzihggRehORXeZLedUuG5JcYWH0OeQvKuq2BAUI1p7Nk0fWQ2RWo="/>
    <add key="googleClientSecret" value="sg2jeVqUZjsYSFEnY4Bh8NUIJf7V+DT3GRxS1h/YfgE="/>
    <!--<add key="googleClientId" value="MgMmRIwFU1YTbUfMazwh8iIOlj6Gf6ArXm+UvPufrVUt1YnH4Phr2jLM5EWfsNp82fR5duTWaKfEadGiIaXAaKZN+5NipAfhlaMCCeog+E0="/>
    <add key="googleClientSecret" value="QdAb/K86upIX46AjsopvMEJqS/JjIjMJDmNm0TJnXPk="/>-->
    
    <add key="facebookClientId" value="ZjdIJgsLZBar/yXzjphlIikOrAPM9Uuo34nMiGM7rTE="/>
    <add key="facebookClientSecret" value="R2B9P1wAJDwe86lc+4N/pSHPrRzRWbn1PGUY+Jgk+RMX8u5svYvPPS65qbdZKVPA"/>
    <!--<add key="facebookClientId" value="DcLhWZbaffCEP/B40c46qw=="/>
    <add key="facebookClientSecret" value="V199G+LPJ3n3gsg3iV8Z5qbPVyOVNuZ6my8D3HAn29P8BwOGojs9BC69HqHg3a7B"/>-->

    <add key="twitterClientId" value="/bXXrX2luOVOMWpsMDAOf2k8Bfyw/aosL2sUBT8gunA="/>
    <add key="twitterClientSecret" value="vYYev4qtiPsmX6sbahcXxyEm5q4T/vBas9e7u56lf9Ss9Znta13tvhI+LAtx33pA5v3lv1G86an6ODqHmKR5JQ=="/>

    <!--<add key="liveClientId" value="jsB6YjB1TKrismDa8MibVwONE/rT80UMw6hUL5XgPlg="/>
    <add key="liveClientSecret" value="jNq3Fv8Kt7wgh+YezLbjnAyn0FUYSsygmbanXtqBBCiUCGbacP2ZneyNxPDgOxSK"/>-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>