@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Haz que tus clientes ingresen sus pronósticos para la Copa América y genera ´fidelización y tracción de la forma mas divertida</p>    
    <img src="~/img/club.png" class="img-responsive" />
    <hr />
    @*<span>@DateTime.Now</span>*@
    <img src="~/img/polla.png" class="img-responsive" />
</div>
